/* 
Created on : 18.06.2015, 15:38:41
Author     : korolariya
*/

.container-fluid{
    padding: 0px;
}
.copyright{
    padding: 20px;
    img{
        width: 80px;
    }
    a{
        color:#000;
        font-family: 'Play', sans-serif;
        font-size: 10px;
        padding-left: 35px;
        margin-top: -15px;
        position: relative;
        display: block;
    }
}

.clear{
    clear: both;
}
.test{
    // border:1px solid red;    
}
.header{
    //background-color:  #333333;
    background-image: url('../images/logo-head.png');
    height: 70px;
}
.mini_header{
    background-color:  #77abc6;
    height: 20px;
    margin-bottom: 50px;

}
.fixed{
    position: fixed;
    width: 100%;
    z-index: 100;
}

#sidebar{
    z-index: 100;  
    position: fixed;
    height: 100%;
    /*    .wr{
            min-height:100%;
            ul{
                padding-bottom: 90px;
            }
        }*/
    .copyright{
        position: fixed;
        left: 10px;
        bottom: 5px;
        width: 240px;
    }
}

.content{
    padding-top: 100px;
}
.wrap{
    padding-left: 210px;
}

.block{
    padding: 0px;
    height: 371px;
    .big_block{
        height: 371px;
        padding: 0px;
        padding-right: 30px;
        padding-bottom: 25px;

        .head{
            height: 236px;
            overflow: hidden;
            background: #DDC;
            .date{
                color: #fff;

                margin-top: 10px;
                position: absolute;
                span{
                    background-color: #303030;  
                    font-style: italic;
                    font-size: 10px;
                    padding: 8px;
                }
                i{
                    padding: 8px;
                    background: #77abc6;
                }

            }
            img{
                width: 100%;
            }
        }
        .intro_text{
            position: absolute;
            bottom: 0;
            margin-right: 30px;
            margin-bottom: 25px;

            background: #4d4d4d;

            .title{
                color:#fff;
                padding: 10px;
                /*                padding-left: 10px;
                                padding-top: 10px;
                                padding-bottom: 10px;*/
                font-weight: bold;
                font-size: 15px;
            }
            .i_text{
                color:#fff;
                padding-left: 10px;
                font-size: 13px;
            }
        }
        .cant{
            //width: 420px;
            height: 346px;
            overflow: hidden;
            /*            min-width:420px;
                        max-width: 420px;*/
            &:hover{
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                cursor: pointer;
            }
        }
    }

    .mini_block{
        padding: 0px;
        padding-right: 25px;
        padding-bottom: 25px;

        .grad{
            background-image: url('../images/grad.png'); 
            height: 20px;
            bottom:25px;
            z-index: 1;
            width: 85%;
            position: absolute;
        }

        .cant{

            height: 346px;
            &:hover{
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                cursor: pointer;
                .intro_text{
                    .title{
                        color: #ffffff;
                    } 
                }
            }
        }
        .head{
            overflow: hidden;
            background: #ccc;
            .date{
                color: #fff;

                margin-top: 10px;
                position: absolute;
                span{
                    background-color: #303030;  
                    font-style: italic;
                    font-size: 10px;
                    padding: 8px;
                }
                i{
                    padding: 8px;
                    background: #77abc6;
                }

            }
        }
        .intro_text{
            background-color: #4d4d4d;
            color: #ffffff;

            div.title{
                color: #ffffff;
            }
        }

        /*&:first-child{*/

        .cant{

            .head{
                img{
                    width: 100%;
                }
            }
            .intro_text{
                height: 186px; 
                .title{
                    color: #ffffff; 
                    font-weight: bold;
                    padding: 10px;
                    //  border-bottom: 1px solid #3389b6;
                }
                .i_text{
                    padding: 10px;
                    padding-top: 0px; 
                    font-size: 13px;
                }
            }
        }
        /*}*/


    }
}


.header{
    .search{
        padding-top: 18px;
        padding-right: 50px;
        input{
            &::-webkit-input-placeholder {color:#323232;}
            &::-moz-placeholder          {color:#323232;}/* Firefox 19+ */
            &:-moz-placeholder           {color:#323232;}/* Firefox 18- */
            &:-ms-input-placeholder      {color:#323232;}
        }
    }
    .hello{
        text-transform: uppercase;
        color:#fff;
        font-size: 10px;
        float: left;
        font-weight: bold;
        margin-left: 40px;
        padding-top: 22px;

        display: inline-block;

        p
        {
            margin-bottom: 0px;
        }
    }
    .logo{
        float: left;
        padding-left: 78px;
        padding-top: 10px;
        font-weight: bold;
        font-size: 30px;
        color:#fff;
        text-transform: uppercase;
        img{
            width: 200px;
        }
        span{
            color:#77abc6;
        }
        .text{
            float: left;
            margin-right: 18px;
        }
        .image{
            background: url('/images/logo.png'); 
            /*            background: url('/images/logo-gamer.png');*/
            width: 41px;
            height: 41px;
            float: left;
        }
    }
}

.left_side{
    width: 191px;

    ul{
        padding: 0px !important;
        list-style: none;
    }
    li{
        text-align: right;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        height: 30px;
        margin-bottom: 5px;
        cursor:pointer;

        span.title{
            vertical-align: middle;
            
            padding-top:   4px !important;
            padding-right: 30px !important;
            float: right;
            width: 100%;
            height: 100%;
        }

        transition: all 0.3s;

        &:hover{
            background-position: 0px -30px;
            color: #ffffff;
        };

        &.checked{
            background-position: 0px -30px;
            color: #ffffff;
        }


    }
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden;

    background-image: url('../images/bckgr.png');
}


.detail-image{
    padding-left: 60px;
    img{
        width: 100%;
    }
}

.detail-small-images-cont{
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: inline-block;

    .detail-small-image{
        width: (100% / 3) !important;
        float: left;
    }

    .left{
        padding-right: (100% / 3) / 10;
    }

    .middle{
        padding-left: (100% / 3) / 20;
        padding-right: (100% / 3) / 20;
    }

    .right{
        padding-left: (100% / 3) / 10;
    }
}

.detail-title{
    color: rgb(34, 109, 148);

    padding-top: 5px;
    padding-left: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;

    h4{
        margin: 0;
    }
}

.detail-text{
    font-family: 'Open Sans';
    text-align: justify;
    padding-left: 30px;
}


.read-also-cont{
    padding-top: 20px;
    
    h4{
        color:#3389b6;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    .also-title{
        color:#3389b6;
        font-weight: bold;
        margin-bottom: 15px; 
    }  

    .also-row{
        margin-bottom: 30px;
    }
}

.comments-cont{
    padding-top: 20px;
    padding-left: 30px;

    color: #7a7a7a;

    h4{
        color:#3389b6;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    .comment{
        border-bottom: 1px dotted black;
        min-height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;

        img{
            width: 80px;
            height: 80px;
            border-radius: 5px;
            margin-left: 15px !important;
        }
        .name{
            font-weight: 800;
            color:#3389b6;
            margin-left: 15px;
            margin-top: -5px;
            font-size: 16px;
        }
        .text{
            margin-top: 10px;
            margin-left: 15px;
        }
        .time{
            margin-left: 15px;
            font-size: 13px;
        }
    }

    .add-comment{
        margin-top: 30px;
        padding-left: 10px;

        button{
            float:right;
            color: #ffffff;
            background-color: #226d97;
            border-radius: 5px;
            border: 0;
            //width: 210px;
            min-height: 35px;
            margin-top: 8px;
        }
    }
}

#share42{
    a{
        border-radius: 30px;
    }
}

.modal-title{
    cursor: pointer;
}

.modal-header{
    text-transform: uppercase;
    color: #226d94;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 650px;
    }
}


div.modal-body {
    padding: 0 !important;

    div.modal-intro{
        padding: 20px 30px;
        font-weight: 900;
    }

    div.modal-fulltext{
        padding: 30px 30px;
        font-family: 'Open Sans';
    }
}

div.modal-footer {
    background-color: #e7eef2;
    display: inline-block;
    width: 100%;

    div.footer-link{
        cursor: pointer;
        margin-top: 9px;
    }
}


.footer{
    margin-top: -160px;
    width: 100%;
    height: 160px;
    bottom: 0;
    background-color: #f2f2f2;
    //margin-top: 40px;

    font-family: Arial;
    font-size: 13px;

    .img-cont{
        padding-top: 30px;
        padding-left: 45%;
        margin-bottom: 40px;
    }

    .footer-text{
        text-align: center;
    }
}


$count:100%;


@media (min-width: 1200px){
    .col-lg-4 {
        width: 50%;
    }
}

@media (min-width: 1600px){
    .col-lg-4 {
        width: $count / 3;
    }
}


@media (min-width: 360px){
    .mini_header{
        margin-bottom: 5px;
    }
    .block {
        height: auto;
        .big_block{
            padding-bottom: 5px;
            padding-right: 0px;
            height: auto;
            .cant{
                height: auto;  
            }
            .head{
                height: auto;
            }
            .intro_text{
                height: auto;
                padding-bottom: 10px;
            }
        }
        .mini_block {
            height: auto;
            padding-right: 0px;
            padding-bottom: 5px;
            color: #ffffff;
            .cant{
                height: auto;  

                .head{
                    height: auto;
                }
                .intro_text{
                    height: auto;

                }

            }
        }
    }
}
@media (min-width: 400px){
    .block{
        padding: 0px;
        height: 371px;
        .big_block{
            height: 371px;
            padding: 0px;
            padding-right: 30px;
            padding-bottom: 25px;

            .head{
                overflow: hidden;
                background: #DDC;
                img{
                    width: 100%;
                }
            }
            .intro_text{
                background-color: rgba(18, 88, 124, 0.7);

                .title{
                    color:#fff;
                    padding: 10px;
                    /*                padding-left: 10px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;*/
                    font-weight: 100;
                    font-size: 16pt;
                    font-family: Impact;
                    text-transform: uppercase;
                }
                .i_text{
                    color:#fff;
                    padding-left: 10px;
                    font-size: 13px;
                    font-family: Arial;
                }
            }
            .cant{
                //width: 420px;
                height: 346px;
                overflow: hidden;
                /*            min-width:420px;
                            max-width: 420px;*/
                &:hover{
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    cursor: pointer;
                }
            }
        }

        .mini_block{
            padding: 0px;
            padding-right: 25px;
            padding-bottom: 25px;
            .cant{
                overflow: hidden;
                height: 346px;
                &:hover{
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    cursor: pointer;
                    .intro_text{
                        .title{
                            color:#3389b6;
                        } 
                    }
                }
            }
            .head{
                //  min-height: 135px;  
                overflow: hidden;
                background: #ccc;
            }
            .intro_text{
                height: 186px; 
                //    background: #ddd;
            }

            /*&:first-child{*/

            .cant{

                .head{
                    img{
                        width: 100%;
                    }
                }
                .intro_text{
                    min-height: 380px;
                    .title{
                        font-family: 'Impact';
                        font-weight: 100;
                        font-size: 16px;
                        padding: 10px;
                        //  border-bottom: 1px solid #3389b6;
                    }
                    .i_text{
                        padding: 10px;
                        padding-top: 0px; 
                        font-size: 13px;
                    }
                }
            }
            /*}*/


        }
    }

}

/*
* Off Canvas
* --------------------------------------------------
*/
@media screen and (max-width: 1400px) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -100%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -100%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 100%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 100%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        height: 100%;
    }
}

@media  (max-width: 1920px) {
    .showmenu{
        display: none;
    }
}
@media  (max-width: 1400px) {
    .showmenu{
        display: block;
    }
}

html{
     height: 100%;
}
body{
   height: 100%; 
}
.height100{
    height: 100%;
}


.content{
    min-height: 100%;
    padding-bottom: 200px;
}


